body {
    background-color: #ff4500;
    color: #FFFFFF;
    background-image: url(plane.jpg);
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

#container {
    margin: auto width: 80%;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 3px #333;
    text-shadow: 6px 6px 6px;
    padding: 10px;
    min-width: 940px;
}

h1 {
    background-color: #00ff45;
    background-repeat: no-repeat;
    color: #1ed23a;
    font-family: cursive;
    background-color: cornflowerblue;
    background-image: url(mig23.jpg);
    width: 100%;
}

h2 {
    background-color: #00ff45;
    color: #1ed23a;
    font-family: cursive;
    padding-left: 60px;
}

p {
    border-style: double;
    border-radius: 15px;
    opacity: 0.6;
    background-color: blue;
}

footer {
    color: darkorange;
    text-align: center;
    font-size: .80em;
    font-style: italic;
}

ol {
    color: #2286b2;
    list-style-type: square;
}

.special {
    color: #8b004b;
}

nav {
    float: left;
    width: 150px;
    text-decoration: none;
    background-color: blue;
    padding: 10px;
    margin-top: 25px;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #44be69;
}

nav a:visited {
    color: #f22727;
}

nav a:hover {
    color: black;
}

nav li {
    display: inline;
}

main {
    margin-left: 165px;
    padding: 10px;
}

footer {
    margin-left: 165px;
}


}