body {
    background-color: #ff4500;
    color: #FFFFFF;
    background-image: url(plane.jpg);
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #FFFFFF;
    min-width: 650px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px #333;
    text-shadow: 6px 6px 6px;
    padding: 60px
}

h1 {
    background-color: #00ff45;
    background-repeat: no-repeat;
    color: #1ed23a;
    font-family: cursive;
    background-color: cornflowerblue;
    background-image: url(mig23.jpg);
    border-radius: 15px;
}

h2 {
    background-color: #00ff45;
    color: #1ed23a;
    font-family: cursive;
    padding-left: 60px;
}

p {
    border-style: double;
    border-radius: 15px;
    opacity: 0.6;
}

footer {
    color: darkorange;
    text-align-last: center;
}

ol {
    color: #2286b2;
}

.special {
    color: #8b004b;
}

footer {
    font-size: .80em;
    font-style: italic;
}

ol {
    list-style-type: square;
}

p {
    background-color: blue;
}