body {
    background-color: #0000FF;
    color: #FFFFFF;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    background-image: linear-gradient(to bottom, #0000FF, #DA70D6);
}

#container {
    margin-left: 60px;
    margin-right: 60px;
    width: 100%;
    background-color: #FFFFFF;
    min-width: 650px;
    width: 80%;
    box-shadow: 3px 3px 3px #333;
    text-shadow: 6px 6px 6px;
    padding: 200px;
}

h1 {
    background-color: cornflowerblue;
    background-image: url(mig23.jpg);
    background-color: chartreuse;
    color: chocolate;
    font-family: monospace;
    padding-left: 60px;
    border-radius: 15px;
}

h2 {
    background-color: chartreuse;
    color: chocolate;
    font-family: monospace;
    padding-left: 60px;
    background-image: linear-gradient(to botom, #FFFFFF, #DA70Dg);
    font-variant-caps: normal;
}

p {
    text-indent: 5em;
}

footer {
    color: darkorange;
    font-size: .80em;
}

ol {
    color: firebrick;
    list-style-type: upper-alpha:
}

.special {
    color: darkmagenta;
}