body {
    background-color: #ff4500;
    color: #FFFFFF;
    background-image: url(images/plane.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

h1 {
    background-color: #00ff45;
    color: white;
    font-family: cursive;
    background-color: cornflowerblue;
    text-align: center;
}

h2 {
    background-color: #00ff45;
    color: #1ed23a;
    font-family: cursive;
    padding-left: 60px;
}

p {
    border-style: double;
    border-radius: 15px;
    opacity: 0.6;
    background-color: blue;
}

footer {
    color: darkorange;
    text-align: center;
    font-size: .80em;
    font-style: italic;
}

ol {
    color: #2286b2;
    list-style-type: square;
}

.special {
    color: #8b004b;
}

nav {
    float: left;
    width: 150px;
    text-decoration: none;
    background-color: blue;
    padding: 10px;
    margin-top: 25px;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #44be69;
}

nav a:visited {
    color: #f22727;
}

nav a:hover {
    color: black;
}

nav li {
    display: inline;
}

main {
    margin: auto;
}

footer {
    margin-left: 165px;
}

header,
main,
nav,
footer,
section,
article,
figure,
figcaption,
aside {
    display: block;
}

@media only screen and (max-width: 1024px) {
    main {
        margin-left: 0;
    }
    nav {
        float: none;
        width: auto;
    }
    body {
        margin: 0;
    }
    nav {
        display: inline-block;
    }
}

h1,
h2 {
    font-size: 120%;
}

p {
    font-size: 90%;
}

@media only screen and (max-width:768px) {
    h1,
    h2 {
        font-size: 100%;
    }
    span {
        font-size: 80%;
    }
    figure {
        display: none;
    }
    nav {
        padding: 0;
        display: block;
    }
}